.post {
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  margin: 10px;
  // max-width: 1000px;
  // max-height: 400px;

  .image {
    display: flex;
    flex-direction: column;

    img {
      display: flex;
      max-width: 400px;
      height: auto;
      object-fit: contain;
      border-radius: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 30px;
      font-weight: 300;
      padding: 5px 10px;
    }

    h2 {
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 0.5px;
      padding: 5px 10px;
    }

    &__comments {
      padding: 10px 15px 25px 15px;

      ul {
        overflow: auto;
      }
    }
  }
}
