.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    font-size: 40px;
    margin-left: 15px;

    span {
      color: rgb(252, 159, 255);
    }
  }

  .search {
    display: flex;
    align-items: center;

    input {
      width: 800px;
      height: 25px;
      padding: 5px;
      border-radius: 15px;
      transition: all ease-in-out 0.3s;
      color: #808080;
      font-size: 17px;

      &:focus {
        transform: translateY(5px);
      }

      &:hover {
        background-color: #464646;
      }
    }
  }

  .add {
    cursor: pointer;
    padding: 5px;
    background: #404040;
    border-radius: 50%;

    fill: #fff;
    transition: fill ease-in-out 0.1s, filter ease-in-out 0.2s,
      transform ease-in-out 0.1s;

    &:active {
      transform: translateY(1px);
    }

    &:hover {
      fill: rgb(201, 255, 205);
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 5px 10px;
    background: #404040;
    border-radius: 10px;

    .account {
      opacity: 0.9;
    }

    button {
      cursor: pointer;
      background-color: transparent;

      svg {
        fill: #fff;
        transition: fill ease-in-out 0.1s, filter ease-in-out 0.2s,
          transform ease-in-out 0.1s;

        &:active {
          transform: translateY(1px);
        }

        &:hover {
          fill: rgb(253, 201, 255);
        }
      }
    }
  }
}
