@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap");

.nav {
  padding-top: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
    font-family: "Qwitcher Grypen", cursive;
    color: #ccbca2;
    transition: 0.3s;

    img {
      user-select: none;
      width: 50px;
      transform: rotate(12deg);
      transition: 0.3s;
    }

    &:hover {
      img {
        transform: rotate(25deg);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    .login {
      button {
        cursor: pointer;
        padding: 10px;
        margin: 0 5px;
        border-radius: 10px;
        color: #fff;
        background-color: #eccfa1;
        transition: 0.2s ease-in;

        &:hover {
          transform: translateY(2px);
          color: #000;
        }

        &:active {
          transform: translateY(4px);
        }
      }

      .logout {
        background-color: red;
      }
    }

    .add {
      cursor: pointer;
      padding: 2px;
      margin: 0 10px;
      border-radius: 50%;
      transition: 0.2s;

      svg {
        fill: rgb(0, 255, 0);
        transition: 0.2s;
      }

      &:hover {
        transform: translateY(2px);
        filter: drop-shadow(0 0 5px rgb(0, 255, 0));

        svg {
          fill: rgba(0, 255, 0, 0.3);
        }
      }

      &:active {
        transform: translateY(3px);
      }
    }
  }
}
